@import "@acab/reset.css";

:root {
	--background: hsl(37deg 25% 50%);
	--background-light: hsl(37deg 93% 84%);
	--accent-orange: hsl(38deg 100% 47%);
	--accent-purple: hsl(292deg 29% 41%);
	--accent-green: hsl(143deg 100% 31%);
	--accent-red: hsl(350deg 100% 44%);
}

html,
body,
#__nuxt {
	height: 100%;
}

* {
	user-select: none;
}
